#add-quizz-container div {
    text-align: center;
}

#add-quizz-container #div-title{
    margin-top: 3%;
}

#add-quizz-container div input {
    margin-top: 10px;
}

#add-quizz-container .btn{
    margin-left: -30px;
}

.select-wrapper input.select-dropdown, 
#add-quizz-container label, 
textarea {
    color: white;
}

.dropdown-content li > a, .dropdown-content li > span:hover {
    background-color: #212121;
}

#label-diff{
    font-size: 12px;
    margin-top: -12px;
}

.input-field.inline input, .input-field.inline .select-dropdown {
    margin-bottom: 0;
    color: white;
}

.chip{
    font-size: 18px;
}

#div-tags {
    color: white;
}