#edit-quizz-container h3 {
    text-align: center;
}

#edit-quizz-container div {
    text-align: center;
}

#edit-quizz-container div input {
    margin-top: 10px;
}

#edit-quizz-container .btn{
    margin-left: -30px;
}

.select-wrapper input.select-dropdown {
    color: white;
}

.dropdown-content li > a, .dropdown-content li > span:hover {
    background-color: #212121;
}

#fileName{
    color: white;
}