#play-container {
    text-align: center;
    position: relative;
}

#quizz-title>h2{
    font-size: 3em;
}

#score{
    position: absolute;
    top: 0;
    right: 5%;
}


#question>h2, #score>h2{
    font-size: 2em;
}

#answers{
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.answer{
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 80%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 12%;
    padding-top: 12%;
    margin: 0 auto;
    margin-bottom: 10%;
    cursor: pointer;
}
.answer:hover{
    filter: brightness(1.13)
}

.answer:active{
    filter: brightness(1);
}

.answer>h2{
    font-size: 2em;   
    padding: unset;
    margin: unset;
}

.answer>i{
    position: absolute;
    bottom: 16%;
    right: 5%;
    height: 2%;
    width: 2%;   
    visibility: hidden;
}

#answer0{background-color: #3BDB32;}

#answer1{background-color: #FFBC12;}

#answer2{background-color: #FF4040;}

#answer3{background-color: #40A3FF;}

#next-button,#finish-button{
    visibility: hidden;
}