#profile-container {
    height: 100%;
}

/** USER INFO (TOP)**/

#user-info {
    text-align: center;
}

#center-profile #quizz {
    float: left;
    margin-right: 13%;
}

/** USER QUIZZ (LEFT) **/

#user-quizzes {
    margin-left: 2%;
}

#user-quizzes li {
    margin-top: 12%;
}

#user-quizzes #menu-quizz h3 {
    float: left;
}

#user-quizzes #menu-quizz a {
    margin-top: 6%;
    margin-left: 42%;
}

#user-stats {
    padding-top: 2.6%;
}