#profile-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
#top-profile {
    
}

/* 
* Partie centrale, 
* contient le conteneur des list de quizz 
* et le conteneur des stats
*/

#center-profile{
    text-align: initial;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 2%;
    width: 100%;
}

/*
* classe commune aux elements dans #center-profile
*/

.main-item {
    display: inline-table;
    width: 30%;
}


#user-quizzes>ul {
    overflow: hidden;
    overflow-y: scroll;
    list-style: none;
    scroll-margin-left: 1%;
}

#user-quizzes>ul>li {
    margin-bottom: 2%;
}
