@keyframes mymove {
    from {
        left: -60px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}

.card {
    position: relative;
    animation: mymove 0.8s;
    animation-timing-function: ease-in-out;
}

#desc{
    color: #3D3D3E;
}

#modify-quizz-button{
    margin-left: 150px;
}

