#card-container {
    background-color: white;
    border-radius:4px;
    color: black;
    
}

#card-container>img{
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    height: inherit;
    width:30%;
}

.card-item {
    display: inline-block;
    margin-right: 1%;
}

#card-text {
    
}

#quizz-title {
    font-size: x-large;
}