#signin-container {
    background-color: #4c4c4c;
    position:absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    margin-left: -250px;
    margin-top: -200px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#log_pseudo {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

#log_mdp {
    text-align: center;
    margin-left: -50px;
    margin-top: 10px;
}

#log_pseudo input, #log_mdp input{
    border-radius: 20px;
    font-size: 18px;
    width: 150px;
    height: 26px;
    padding-left: 5px;
}

#connexion {
    border-radius: 20px;
    font-size: 18px;
    width: 155px;
    height: 30px;
    background-color: white;
    margin-top: 30px;
    margin-left: 213px;
}