@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./components/css/materialize.css');

html {
    background-color: #3D3D3E;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    color: white;
}

#main-container{
    height: 100%;
}